:root {
  --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --border: 2px rgb(230, 230, 230) solid;
  --clr-main: rgba(255, 95, 103, 0.842);
  --clr-sub: rgb(66, 66, 66);
  --clr-submain: #ffe0db;
  --clr-navbar: #f3f3f3;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  margin: 5%;
  background-color: #3a3a3a;
}

body {
  background-color: #36363627;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: #3b3b3b00 8px solid;
  border-radius: 15px;
  width: min(1400px);
  height: 960px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 75%;
}

.main {
  background-color: var(--clr-sub);
  padding: 15px;
  z-index: 0;
  border-radius: 0 15px 15px 0;
}

.sidebar {
  background-color: var(--clr-main);
  border-radius: 15px 0 0 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 5px 0px 20px 0px;
  z-index: 1;
  padding: 15px;
}

.sidebar input,
.sidebar input + button {
  background-color: var(--clr-main);
  border-radius: 4px;
  color: var(--clr-submain);
  font-weight: 600;
  font-size: 0.8rem;
  outline: none;
  border: none;
  margin: 5px 0 0 22px;
  padding: 5px;
}

.sidebar input:hover,
.sidebar input:focus {
  box-shadow:
    rgba(43, 43, 43, 0.164) 3px 3px 6px 0px inset,
    rgba(43, 43, 43, 0.164) -3px -3px 6px 1px inset;
}

.sidebar input + button {
  margin-left: 5px;
  cursor: pointer;
}

.sidebar input::placeholder {
  color: var(--clr-navbar);
  opacity: 0.7;
}

h1 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: var(--clr-navbar) 1px solid;
  color: var(--clr-navbar);
}

.projects-list > li {
  background: linear-gradient(
    to right,
    rgba(66, 66, 66, 0.596),
    rgba(0, 0, 0, 0)
  );
  width: 80%;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0px 5px 5px;
  font-weight: 900;
  font-size: 0.9rem;
  color: var(--clr-submain);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-list > li > img {
  width: 22px;
  display: flex;
  cursor: pointer;
}

.projects-list > li + ul > li {
  color: var(--clr-navbar);
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 25px;
  font-size: 0.9rem;
  cursor: pointer;
  width: max-content;
}

.projects-list > li + ul {
  margin-bottom: 20px;
}

.projects-list > form {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 15px auto;
  padding: 15px 0;
  border-top: 1px solid var(--clr-main);
  border-bottom: 1px solid var(--clr-main);
}
.projects-list > form > input {
  padding: 12px 5px;
  width: 85%;
  margin: 0;
}
.projects-list > form > button {
  padding: 12px;
  margin: 0;
}

#inbox-link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--clr-submain);
  cursor: pointer;
  width: max-content;
}

#inbox-link svg {
  height: 1.5rem;
  fill: var(--clr-submain);
}

#inbox-link:hover,
.projects-list > ul > li:hover {
  color: var(--clr-sub);
  > svg {
    fill: var(--clr-sub);
  }
}

/* MAIN SECTION */

.main > h2,
.main > div {
  margin-bottom: 3rem;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(121, 121, 121, 0.596),
      rgba(0, 0, 0, 0)
    )
    1;
  border-width: 1px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

.main > h2 {
  /* text-align: center; */
  font-size: 2.4rem;
  color: var(--clr-submain);
  text-shadow: var(--shadow);
  text-transform: capitalize;
  margin-bottom: 3rem;
  border-top: 0;
  display: flex;
  justify-content: center;
  padding: 5px 20px;
}
.main > h2 > img {
  width: 30px;
  margin-left: auto;
  cursor: pointer;
}

.main > div {
  padding: 15px;
  height: 90%;
}

.card {
  /* border-image: linear-gradient(to bottom, rgba(147, 94, 233, 0.596), var(--clr-main), rgba(147, 94, 233, 0.596)) 1; */
  border-color: var(--clr-main);
  border-width: 10px;
  border-style: solid;
  padding-left: 1rem;
  margin-bottom: 1rem;
  border-right: 0;
  display: grid;
  height: 34px;
  overflow: hidden;
  grid-template: 34px 3fr 1fr / 6fr 2fr 1fr;
  background-color: #29292921;
  border-radius: 10px;
  border-top: 0;
  border-bottom: 0;
}

.card > p {
  padding: 5px;
  font-size: 0.9rem;
  color: var(--clr-submain);
  &::before {
    content: "DESCRIPTION: ";
    color: #ffffff71;
    font-size: 0.7rem;
    font-weight: 600;
    padding-right: 5px;
  }
}

.card:hover {
  box-shadow: rgba(24, 24, 24, 0.493) 0px 0px 5px;
  cursor: alias;
}

.edit-task,
.remove-task,
#add-new-task-btn,
.cancel-btn,
#edit-task-confirm-btn,
#add-task-confirm-btn {
  width: fit-content;
  height: fit-content;
  align-self: center;
  font-weight: 600;
  font-size: 0.75rem;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 0px 2px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: var(--clr-main);
  border: 1px solid var(--clr-sub);
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 7px;
  grid-area: 3 / 1 / 4 / 2;
  &:hover {
    background-color: var(--clr-main);
    color: var(--clr-sub);
    border-color: var(--clr-main);
  }
}

.remove-task {
  margin-left: 100px;
}

.card > div:last-of-type {
  color: var(--clr-navbar);
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
  align-self: center;
  &::before {
    color: #ffffff71;
    content: "DUE DATE: ";
    font-size: 0.8rem;
    font-weight: 600;
    padding-right: 5px;
  }
}

.p1,
.p2,
.p3,
.p4 {
  grid-area: 1 / 3 / 2 / 4;
  font-size: 0.8rem;
  justify-self: center;
  align-self: center;
  padding: 2px 6px;
  border-radius: 3px;
  text-shadow: var(--shadow);
  color: var(--clr-navbar);
  font-weight: 900;
  font-style: oblique;
}

/* PRIORITIES COLORS */
.p1 {
  background-color: rgb(255, 59, 24);
  box-shadow:
    rgba(255, 59, 24, 0.466) 0px 1px 3px,
    rgba(255, 60, 0, 0.671) 0px 1px 2px;
}

.p2 {
  background-color: rgb(255, 166, 0);
  box-shadow:
    rgba(255, 166, 0, 0.466) 0px 1px 3px,
    rgba(255, 166, 0, 0.671) 0px 1px 2px;
}

.p3 {
  background-color: rgb(223, 223, 0);
  box-shadow:
    rgba(223, 223, 0, 0.466) 0px 1px 3px,
    rgba(223, 223, 0, 0.671) 0px 1px 2px;
}

.p4 {
  background-color: rgb(149, 196, 55);
  box-shadow:
    rgba(149, 196, 55, 0.466) 0px 1px 3px,
    rgba(149, 196, 55, 0.671) 0px 1px 2px;
}

.card > h3 {
  align-self: center;
}

.card > h3 {
  color: var(--clr-submain);
}

#add-new-task-btn {
  padding: 10px 23px;
  font-size: 0.85rem;
}

dialog {
  z-index: 1;
  position: absolute;
  margin: auto;
  border: 5px solid var(--clr-main);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--clr-main);
  box-shadow: var(--shadow);
}

dialog > form {
  background-color: var(--clr-sub);
  border-radius: 5px;
  border: 5px solid transparent;
  color: var(--clr-submain);
  box-shadow: var(--shadow);
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 0.95rem;
  gap: 10px;
}

dialog > form input,
dialog > form textarea,
dialog > form select {
  background-color: #3a3a3a;
  padding: 2px 5px;
  border-radius: 4px;
  border: 1px #272727 solid;
  outline: none;
  resize: none;
  color: var(--clr-main);
  &:hover,
  &:focus {
    border-color: var(--clr-main);
  }
}

dialog > form > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cancel-btn,
#edit-task-confirm-btn,
#add-task-confirm-btn {
  width: 100%;
  height: 35px;
}

dialog > form > div:last-of-type {
  justify-content: center;
  gap: 15px;
}

dialog label > span {
  color: red;
  font-weight: 100;
  font-size: 0.8rem;
}
